{
  "singleQuote": true,
  "endOfLine": "auto",
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 90
}
