name: 'Deploy PROD build'
on:
  push:
    branches:
      - main

permissions:
  actions: read
  checks: write
  contents: read
  deployments: write
  id-token: write
  statuses: write
jobs:
  deploy-affected-prod:
    runs-on: ubuntu-latest
    environment: fprd
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required to fetch range

      - name: Get fusion token
        id: 'get-fusion-token'
        uses: ./.github/actions/get-fusion-token
        with:
          client-id: ${{secrets.AZURE_PROD_CLIENT_ID}}
          tenant-id: ${{secrets.AZURE_TENANT_ID}}
          resource-id: ${{secrets.AZURE_RESOURCE_PROD_ID}}

      - name: PNPM setup
        uses: ./.github/actions/pnpm-setup

      - name: Build monorepo
        run: pnpm ci:build

      - name: Start summary
        run: |
          echo '# FPRD deployment summary' >> $GITHUB_STEP_SUMMARY

      - name: 'Deploy affected apps to Fusion PROD'
        shell: bash
        env:
          NODE_OPTIONS: "--max_old_space_size=12288"
          GITHUB_STEP_SUMMARY: $GITHUB_STEP_SUMMARY
        run: npx turbo run fprd:deploy --filter=...[HEAD^] --concurrency 4 -- --token ${{ steps.get-fusion-token.outputs.token }} --ai '${{secrets.ai}}' --modelViewerConfig '${{vars.modelViewerConfig}}' --sha '${{github.sha}}'

      - name: 'Deploy affected reports to Fusion PROD'
        shell: bash
        env:
          NODE_OPTIONS: "--max_old_space_size=12288"
        run: npx turbo run fprd:deploy --filter='./reports/**...[HEAD^]' --concurrency 4 -- --token ${{ steps.get-fusion-token.outputs.token }} --env fprd
