name: Manual deploy fusion app PROD

on:
  workflow_dispatch:
    inputs:
      appKey:
        type: choice
        description: Which app or report to deploy to production
        options:
          - handover
          - mechanical-completion
          - swcr
          - electrical-consumers
          - heat-trace
          - loop
          - pipetest
          - punch
          - scopechangerequest
          - workorder
          - activities
          - ads-commercial-meeting
          - ads-engineering-meeting
          - ads-monthly-meeting
          - ads-offshore-installation
          - ads-schedule-viewer
          - ads-weekly-meeting
          - atex-inspection
          - cc-overview-analytics3
          - ccoverview
          - checklist
          - commissioning-task
          - completion-analytics
          - jca-installation
          - jca-job-analytics
          - jca-progress-summary
          - jca-spools
          - jca-work-preparation
          - preservation-workspace
          - projectsafetybarriers
          - query-workspace
          - tags
          - workorder-area-overview
          - '*'
permissions:
  actions: read
  checks: write
  contents: read
  deployments: write
  id-token: write
  statuses: write
jobs:
  deploy-manual-fprd:
    runs-on: ubuntu-latest
    environment: fprd
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required to fetch range

      - name: Get fusion token
        id: 'get-fusion-token'
        uses: ./.github/actions/get-fusion-token
        with:
          client-id: ${{secrets.AZURE_PROD_CLIENT_ID}}
          tenant-id: ${{secrets.AZURE_TENANT_ID}}
          resource-id: ${{secrets.AZURE_RESOURCE_PROD_ID}}

      - name: PNPM setup
        uses: ./.github/actions/pnpm-setup

      - name: Build monorepo
        run: npx turbo run build --filter=${{inputs.appKey}}

      - name: Start summary
        run: |
          echo '# FPRD deployment summary' >> $GITHUB_STEP_SUMMARY

      - name: 'Deploy affected apps to Fusion FPRD env'
        shell: bash
        env:
          #Public hosted runners has 16GB available (linux | windows runners)
          NODE_OPTIONS: "--max_old_space_size=12288"
          GITHUB_STEP_SUMMARY: $GITHUB_STEP_SUMMARY
        run: npx turbo run fprd:deploy --filter='${{inputs.appKey}}' --concurrency 4 -- --token ${{ steps.get-fusion-token.outputs.token }} --ai '${{secrets.ai}}' --modelViewerConfig '${{vars.modelViewerConfig}}' --sha '${{github.sha}}'
